---
layout: default
---
<div id="main" class="single-post">

	<div id="content">
	
		<div class="wrapper-content">
		
						
			<h1 class="title title-large">Research</h1>
						
			<div class="post-content">
				<figure id="attachment_35" style="width: 150px" class="wp-caption alignleft"><img src="image/2942427728_1e632e5682_b-150x150.jpg" alt="" title="2942427728_1e632e5682_b" width="150" height="150" class="size-thumbnail wp-image-35" srcset="#" sizes="(max-width: 150px) 100vw, 150px" /><figcaption class="wp-caption-text">Research Center</figcaption></figure>
<p>{{page.content}}</p>

				
				<div class="cleaner">&nbsp;</div>
				
								
			</div><!-- end .post-content -->

						<div class="divider">&nbsp;</div>
			
			<div id="comments">
				


	<!-- If comments are open, but there are no comments. -->
	
		
		
	
 

 
<div class="cleaner">&nbsp;</div>

	<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/erudito/research/#respond" style="display:none;">Cancel</a></small></h3>			
			
			</div><!-- #respond -->
		
  
			</div><!-- end #comments -->

			
			
			<div class="cleaner">&nbsp;</div>
		
		</div><!-- end .wrapper-content -->
	
	</div><!-- end #content -->
	
	</div>
    