---
layout: default
---
						
			<h1 class="title title-large">{{post.meta}}</h1>
			<p class="postmetadata">By <a href="#" title="Posts by Pavel Ciorici" rel="author">Pavel Ciorici</a>			 / <span class="category">In <a href="#" rel="category tag">Blog</a>, <a href="#" rel="category tag">Reports</a></span>			 / <time datetime="2015-08-13" pubdate>{{post.date | date:"%B %-d, %Y"}}</time>						</p>
			
			<div class="post-content">
				<p>{{post.content}}</p>
				
				<div class="cleaner">&nbsp;</div>
				
												
			</div><!-- end .post-content -->
