---
layout: default
---
<div id="main" class="single-post">
	<div id="content">
	
		<div class="wrapper-content">
		
			<h1 class="title title-large"></h1>
			<p class="postmetadata">By <a href="" title="Posts by Pavel Ciorici" rel="author">Pavel Ciorici</a><span class="category">In <a href="http://demo.wpzoom.com/erudito/category/campus-news/" rel="category tag">Campus News</a>, <a href="" rel="category tag">Reports</a></span> <time>{{page.date | date:"%B %-d, %Y"}}</time>	</p>
			
			<div class="post-content">
				<figure id="attachment_92" style="width: 300px" class="wp-caption alignleft"><img src="{{site.baseurl}}/image/{{page.image}}" alt="" width="300" height="199" class="size-medium wp-image-92"  sizes="(max-width: 300px) 100vw, 300px" /><figcaption class="wp-caption-text"></figcaption></figure>
                  <p>{{page.content}}</p>
				
				<div class="cleaner">&nbsp;</div>				
												
			</div>
	</div>
</div>
</div>